.App {
  text-align: center;
  height: 100vh;
  border:.3px solid red;
}

.ant-layout-content{
  padding: 0px 50px;
}

.ant-layout-sider{
  min-width: 250px;
  max-width: 250px;
}

.yeet{
  /* border:.2px solid blue; */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border:.1px solid red; */
}

.ant-card{
  width:20%;
  margin:1%;
}

.ant-pagination{
  margin: 1% auto;
  /* border:1px solid black; */
  /* width: 50%; */
  padding:10% auto;
}

.ant-input-group-wrapper{
  margin-bottom:5%;
}

.Info{
  border:.1px solid blue;
  display: flex;
}

.Info .ant-card{
  width: 50%;
  height: 70%;
}

.ant-tabs{
  width: 50%;
  /* border:1px solid red; */
}

/* .ant-tabs-top-content{
  height: 91%;
}

.ant-tabs-tabpane{
  height: 100%;
} */

.Stats{
  background: #ececec;
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border:.1px solid green; */
}

.statDiv{
  background: #ffffff;
  padding: 10%;
}

@media screen and (max-width:1050px){


  .yeet{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .ant-card{
    width: 60%;
    margin: 5% auto;
  }
  .ant-layout-content{
    padding: 0 20px;
  }

  .Info .ant-card{
    width: 90%;
    height: 70%;
    /* border:1px solid red; */

  }

}

@media screen and (max-width:673px){
  .ant-input-group-wrapper{
    margin: 0;
  }
}

